<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TAUTIN.</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body class="background-gradient">
  <nav class="navbar navbar-expand-lg" data-bs-theme="dark">
  <div class="container-fluid">
    {% if user.is_authenticated %}
    <a class="navbar-brand text-light button-navbar" style="font-size: 1.5rem;" href="{% url "dashboard" %}">TAUTIN.</a>
    {% else %}
    <a class="navbar-brand text-light button-navbar" style="font-size: 1.5rem;" href="{% url "index" %}">TAUTIN.</a>
    {% endif %}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link text-light button-navbar" href="{% url "dashboard" %}">Dashboard</a>
        </li>
        <li class="nav-item">
          <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="nav-link active text-light button-navbar">Logout</button>
        </form>
        
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link text-light button-navbar" href="{% url "login" %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-light button-navbar" href="{% url "register" %}">Register</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
    {% block content %}


    {% endblock content %}

    <script src="{% static "js/script.js" %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>