{% extends "tautin_app/base.html" %}
{% block content %}
{% load qr_code %}
<div class="container d-flex justify-content-center align-items-center flex-column">
    <div class="dashboard-box">
        <h2>Create Link!</h2>
        <form action="{% url "dashboard" %}" method='POST'>
            {% csrf_token %}
        
            <div class="user-box">
                {% comment %} <input type="text" required> {% endcomment %}
                
                {{ form.long_link}}
                <label for="">Enter your long URL</label>
            </div>
            {% if form.short_url_link_address.errors %}
                        {% for error in form.short_url_link_address.errors %}
                        <div class="pb-2">
                            <h5>{{error}}</h5>
                        </div>
                        {% endfor %}
            {% endif %}
            <div class="row justify-content-start">
                <div class="col-auto" style="padding-right: 5px;">
                    <div class="user-box" style="padding: 0; margin: 0;">
                        <p class="mb-0">tautin.link/</p>
                    </div>
                </div>
                
                <div class="col" style="padding-left: 0; margin-left: 0;">
                    <div class="user-box" >    
                        {% comment %} <input type="text" required> {% endcomment %}
                        {{form.short_url_link_address}}
                        <label for="">Enter your short URL</label>
                    </div>
                </div>
            </div>
            
            <div class="d-flex justify-content-start pb-5">
                <button type='submit' class="button-menu" style="--fontsize:1em">
                    Shorten!
                </button>
            </div>
        </form>
        
        <div class="">
            <h2 class="pt-3">Dashboard</h2>
        </div>
        
        {% for link in items %}
        <div class="pt-3 d-flex justify-content-center align-items-center flex-column">
            <div class="dashboard-box-link">
                <div class="row d-flex">
                    <div class="col">
                        <p class="link-properties">{{link.date_created}}</p>
                    </div>
                    <div class="col d-flex justify-content-end">
                        {% comment %} {% qr_from_text link.short_url_link size=8 version=10 image_format='png' as qr_code_url %} {% endcomment %}
                        <a href="" class="button-link me-2" download><i class="bi bi-qr-code"> </i> QR Code</a>
                        <a href="{% url "edit" short_url_link_address=link.short_url_link_address%}" class="button-link"><i class="bi bi-pencil-fill"> </i> Edit</a>
                    </div>
                </div>
                <h4>
                    <a href="{{link.short_url_link}}" class="short-link" target="_blank" rel="noopener noreferrer">{{link.short_url_link}}</a> 
                    <i class="bi bi-copy copy-icon"></i>
                    <span class="copy-text">Link copied!</span>
                </h4>
                <p><a href="{{ link.long_link }}" target="_blank" rel="noopener noreferrer">{{link.long_link}}</a></p>
                <p class="link-properties">{{link.total_views}} clicks</p>
            </div>
        </div>
        {% endfor %}
        
        
        
{% endblock content %}