{% extends "tautin_app/base.html" %}
{% block content %}
      <div class="container">
        <div class="edit-box">
            <h2>Edit Link</h2>

        <form action="" method='POST'>
            <div class="user-box">
              {% csrf_token %}
                {% comment %} <input type="text" required value="https://github.com/HeraldoArman"> {% endcomment %}
                {{form.long_link}}
                <label for="">Enter your long URL</label>
            </div>
            <div class="row justify-content-start">
                <div class="col-auto" style="padding-right: 5px;">
                    <div class="user-box" style="padding: 0; margin: 0;">
                        <p class="mb-0">tautin.link/</p>
                    </div>
                </div>
                <div class="col" style="padding-left: 0; margin-left: 0;">
                    <div class="user-box" >    
                        {% comment %} <input type="text" required value="heraldoarman"> {% endcomment %}
                        {{form.short_url_link_address}}
                        <label for="">Enter your short URL</label>
                    </div>
                </div>
            </div>

                <div class="row d-flex">
                  <div class="col px-2 d-flex justify-content-end">
                    <div class="px-1">
                      <a href="{% url "dashboard" %}" class="button-cancel" style="--fontsize:1em;">Cancel</a>
                    </div>
                    <div class="px-1">
                      <button type='submit' class="button-edit" style="--fontsize:1em;">Edit</button>
                    </div>
                  </div>
  
                </div>
              </form>
        </div>
    </div>

    {% endblock content %}