{% extends "tautin_app/base.html" %}
{% block content %}
      <div class="container">
        <div class="edit-box">
            <h2>Edit Link</h2>

        <form action="">
            <div class="user-box">
                <input type="text" required value="https://github.com/HeraldoArman">
                <label for="">Enter your long URL</label>
            </div>
            <div class="row justify-content-start">
                <div class="col-auto" style="padding-right: 5px;">
                    <div class="user-box" style="padding: 0; margin: 0;">
                        <p class="mb-0">tautin.link/</p>
                    </div>
                </div>
                <div class="col" style="padding-left: 0; margin-left: 0;">
                    <div class="user-box" >    
                        <input type="text" required value="heraldoarman">
                        <label for="">Enter your short URL</label>
                    </div>
                </div>
            </div>

                <div class="row d-flex">
                  <div class="col px-2 d-flex justify-content-end">
                    <div class="px-1">
  
                      <a href="dashboard.html" class="button-cancel" style="--fontsize:1em;">Cancel</a>
                    </div>
                    <div class="px-1">
  
                      <a href="dashboard.html" class="button-edit" style="--fontsize:1em;">Edit</a>
                    </div>
                  </div>
  
                </div>
              </form>
        </div>
    </div>

    {% endblock content %}