{% extends "tautin_app/base.html" %}
{% block content %}
<div class="py-5 my-5 px-5">  
    <div class="container">
        <div class="row">
          <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-12">
            
            <h1 class="judul">TAUTIN.</h1>
            <p class="deskripsi">
                Turning long URLs into short, memorable links is just the beginning. Simplify your sharing, track your clicks,  and connect faster than ever before. Experience the power of seamless link management with TAUTIN.
            </p>
            <div class="py-3">
              {% if user.is_authenticated %}
              <a href="{% url "dashboard" %}" class="button-menu" style="--fontsize:1.5em">
                Create URL!
              </a>
              {% else %}
              <a href="{% url "login" %}" class="button-menu" style="--fontsize:1.5em">
                Create URL!
              </a>
              {% endif %}
          </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
